
@font-face {
  font-family: "Manrope";
  src: url('../assets/Manrope-VariableFont_wght.ttf');
}
@font-face {
  font-family: "Maitree-Light";
  src: url('../assets/Maitree-Light.ttf');
}
@font-face {
  font-family: "Maitree-Regular";
  src: url('../assets/Maitree-Regular.ttf');
}
@font-face {
  font-family: "Maitree-Bold";
  src: url('../assets/Maitree-Bold.ttf');
}
body {
  background-color: #212529;
  color: #e9ecef;
  font-family: 'Manrope', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-content {
  justify-content: flex-start;
  min-height: 80%;
  width: 960px;
  margin: 0px auto;
}
#main-content {
  border-collapse: unset;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0e0e0e;
  margin-bottom: 2vh;
  min-height: 8vh;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #0e0e0e;
  margin-top: auto;
  padding: 5px;
  flex-shrink: 0;
}
footer img {
  height: 100px;
}
table {
  background-color: #343a40;
  border-radius: 4px;
  padding: 10px;
  border-collapse: unset;
  border-spacing: 2px;
}

th {
  font-weight: bold;
  border: #fff;
  border: solid;
  border-width: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
tr {
  line-height: 200%;
  text-align: left;
}
td {
  text-align: left;
  border: #fff;
  border: solid;
  border-width: 1px;
  padding-left: 5px;
  border-collapse: collapse;
}
h1 {
  text-align: center;
  font-size: 1.4em;
  margin-right: auto;
  margin-left: 2%;
}
thead th {
  border: none;
}
a {
  text-decoration: none;
  margin-right: 2%;
  margin-left: 2%;
  font-weight: bold;
}
a:link {
  color: #fff;
}
a:visited {
  color: #ced4da;
}
a:hover {
  text-shadow: 2px 2px 2px #919191;
}
.content-row {
  gap: 30px;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-between
}
.content-row p {
  padding: 1%;
}
.content-row figure {
  padding: 1%;
}
figcaption {
  color: #919191;
}
img {
  border-radius: 5px;
}
p {
  background-color: #343a40;
  border-radius: 5px;
  padding: auto;
  font-family: 'Maitree-Regular', serif;
  margin: 20px auto;
  flex-grow: 1;
  display: flex;
  justify-content: left;
  line-height: 1.5em;
  font-size: larger;

}
#text-family{
  justify-content: center;

}
fieldset {
  display: flex;
  flex-wrap: wrap;
  width: min-content;
  margin: auto;
  background-color: #777;
  padding: 40px;
  border-radius: 4px;
}
fieldset * {
  margin-bottom: 20px;
}
legend {
  background-color: #0e0e0e;
  padding: 2%;
  border-radius: 4px;
  margin: 5px;
  font-size: larger;
}
label {
  margin: 3%;
}
input {
  border-radius: 1px;
}
input[type="submit"] {
  background-color: #0e0e0e;
  color: #fff;
  border-radius: 10px;
}
